agentverse-client
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
arrow
async-timeout
attrs
bech32
cachetools
certifi
cffi
charset-normalizer
click
codecarbon
cosmpy
cryptography
distlib
dnspython
ecdsa
email_validator
exceptiongroup
fastapi
fastapi-cli
fetchai
fief-client
filelock
frozenlist
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httptools
httpx
idna
iniconfig
Jinja2
jsonschema
jsonschema-specifications
jwcrypto
markdown-it-py
MarkupSafe
mdurl
mnemonic
multidict
numpy
nvidia-ml-py
packaging
pandas
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
PyJWT
pynvml
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
questionary
RapidFuzz
referencing
requests
rich
rich-toolkit
rpds-py
rsa
shellingham
six
smmap
sniffio
starlette
termcolor
tomli
tqdm
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uagents
uagents-core
urllib3
uvicorn
uvloop
virtualenv
watchfiles
wcwidth
websockets
yarl
yaspin
